{% extends 'base.html' %}

{% block title %}Login - Smart Allocation{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-5">
        <div class="glass-card text-center">
            <h2 class="mb-4" style="color: #58a6ff;"><i class="fa-solid fa-user-shield"></i> System Login</h2>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="mb-3 text-start">
                    <label class="form-label text-light">Username</label>
                    <input type="text" name="username" class="form-control bg-dark text-light border-secondary shadow-none" placeholder="Enter username" required>
                </div>
                <div class="mb-4 text-start">
                    <label class="form-label text-light">Password</label>
                    <input type="password" name="password" class="form-control bg-dark text-light border-secondary shadow-none" placeholder="Enter password" required>
                </div>
                <button type="submit" class="btn btn-neon-blue w-100 py-2 fw-bold">LOGIN ACCESSS</button>
            </form>
            <div class="mt-4">
                <small class="text-secondary">Don't have an account? <a href="{% url 'user_register' %}" style="color: #58a6ff;">Register Here</a></small>
            </div>
        </div>
    </div>
</div>
{% endblock %}